{% extends '_base.html' %}

{% load tag_library2 %}

{% load static %}

{% block title %} Twój koszyk {% endblock title %}

{% block content %}

{% return_data user user_additional_data as data %}
{{ data|json_script:"data_id" }}

{% if products_list %}
<br>
<br>
<h1 id="greeting_text">Twój koszyk</h1>
<br>
<br>
<div id="products">
{% for p in products_list %}
    <div id="index{{ p.index }}" class="product">
        <a href="/{{ b.product_type }}/{{ b.link }}">
            <img class="float-left pr-2" src="{{ p.menu_img }}" style="height: 120px;">
        </a>
        <div class="d-flex">
            <h3 class="mt-6"><a href="/{{ b.product_type }}/{{ b.link }}">{{ p.title }}</a></h3>
            <a href="" class="ml-auto"><i class="fas fa-times" style="font-size: 30px;"></i></a>
        </div>
        <p><strong>Ilość: <input type="number" min="1" max="100" value="{{ p.amount }}" class="number form-control" style="width: 8%;">Cena: <span class="price">{{ p.total }}</span></strong></p>
        <br>
        <hr>
    </div>
{% endfor %}
</div>
<h4 id="sum">W sumie: <span>{{ sum }}</span></h4>
<br>
<br>
<h3 class="d-flex"><a href="" id="clearshc" style="">Wyczyść koszyk</a><a id="finalize" class="ml-auto" href="{% url 'finalize_order' %}"  style="">Finalizuj zamówienie</a></h3>
{% else %}
<br>
<br>
<h1>Twój koszyk jest pusty</h1>
<br>
<br>
<br>
<br>

{% endif %}
{% endblock content %}

{% block script %}<script src="{% static 'js/shoppingcartscript.js' %}"></script>{% endblock script %}