{% extends '_base.html' %}

{% load tag_library2 %}

{% load static %}

{% block title %} Finalizuj zamówienie {% endblock title %}

{% block content %}

{% return_data2 user user_additional_data price_one price_two as data %}
{{ data|json_script:"data_id" }}

<h1>Adres dostawy</h1>
<div class="d-flex float-left rounded-sm" style="width: 50%">
    <form method="POST" id="signupform" enctype="multipart/form-data">
        <p class="text-danger"><small id="err_nonfield"></small></p>
        <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}">Imię:</label>
            <p class="text-danger"><small id="err_first_name"></small></p>
            {{ form.first_name }}
        </div>
        <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">Nazwisko:</label>
            <p class="text-danger"><small id="err_last_name"></small></p>
            {{ form.last_name }}
        </div>
        <div class="form-group">
            <label for="{{ form.city.id_for_label }}">Miejscowość:</label>
            <p class="text-danger"><small id="err_city"></small></p>
            {{ form.city }}
        </div>
        <div class="form-group">
            <label for="{{ form.region.id_for_label }}">Województwo</label>
            <p class="text-danger"><small id="err_region"></small></p>
            {{ form.region }}
        </div>
        <div class="form-group">
            <label for="{{ form.address.id_for_label }}">Adres:</label>
            <p class="text-danger"><small id="err_address"></small></p>
            {{ form.address }}
            <small id="addressHelp" class="form-text text-muted">Ulica i numer domu, mieszkania.</small>
        </div>
        <div class="form-group">
            <label for="{{ form.postal_code.id_for_label }}">Kod pocztowy:</label>
            <p class="text-danger"><small id="err_postal_code"></small></p>
            {{ form.postal_code }}
            <small id="postalHelp" class="form-text text-muted">Kod pocztowy odzielony - np 23-400</small>
        </div>
        <div class="form-group">
            <label for="{{ form.phone_number.id_for_label }}">Numer telefonu:</label>
            <p class="text-danger"><small id="err_phone_number"></small></p>
            {{ form.phone_number }}
        </div>
        <div class="form-check">
            {{ form.regulamin }}
            <label class="form-check-label" for="{{ form.regulamin.id_for_label }}">Zgadzam się na <a href="{% url 'regulamin' %}">regulamin</a></label>
        </div>
    </form>
</div>
<br>
<div class="d-flex" style="width: 50%">
    <form>
        <div>
        <h3>Sposób płatności</h3>
        <div class="form-check">
            <label class="form-check-label">
            <input type="radio" class="form-check-input" name="payment" checked="checked">Płatność przy odbiorze (13 zł)
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
            <input type="radio" class="form-check-input" name="payment">Przelew (9 zł)
            </label>
        </div>
        </div>
        <br>
        <br>
        <div>
        <h3>Sposób dostawy</h3>
        <div class="form-check">
            <label class="form-check-label">
            <input type="radio" class="form-check-input" name="pickup" checked="checked">Do domnu
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
            <input type="radio" class="form-check-input" name="pickup">Punkt odbioru
            </label>
        </div>
        </div>
    </form>
</div>
<br>
<br>
<h3>Do zapłaty: <span id="sum">{{ price_one }}</span></h3>
<br>
<br>
<button type="button" class="btn btn-primary">Realizuj zamówienie</button>
{% endblock content %}


{% block script %}<script src="{% static 'js/finalizeorderscript.js' %}"></script>{% endblock script %}
