{% extends '_base.html' %}

{% load tag_library2 %}

{% load static %}

{% block title %} Finalizuj zamówienie {% endblock title %}

{% block content %}

{% return_data2 user user_additional_data price_one price_two as data %}
{{ data|json_script:"data_id" }}
<form class="d-flex float-left rounded-sm" method="POST" id="form_one" enctype="multipart/form-data">{% csrf_token %}
    <div style="width: 50%">
        <h1>Adres dostawy</h1>
        <div class="form-group">
            <label>Imię:</label>
            <input type="text" class="form-control" readonly value={{ first_name }}>
        </div>
        <div class="form-group">
            <label>Nazwisko:</label>
            <input type="text" class="form-control" readonly value={{ last_name }}>
        </div>
        <div class="form-group">
            <label for="{{ form.city.id_for_label }}">Miejscowość:</label>
            <p class="text-danger"><small id="err_city"></small></p>
            {{ form.city }}
        </div>
        <div class="form-group">
            <label for="{{ form.region.id_for_label }}">Województwo</label>
            <p class="text-danger"><small id="err_region"></small></p>
            {{ form.region }}
        </div>
        <div class="form-group">
            <label for="{{ form.address.id_for_label }}">Adres:</label>
            <p class="text-danger"><small id="err_address"></small></p>
            {{ form.address }}
            <small id="addressHelp" class="form-text text-muted">Ulica i numer domu, mieszkania.</small>
        </div>
        <div class="form-group">
            <label for="{{ form.postal_code.id_for_label }}">Kod pocztowy:</label>
            <p class="text-danger"><small id="err_postal_code"></small></p>
            {{ form.postal_code_two }}
            <small id="postalHelp" class="form-text text-muted">Kod pocztowy odzielony - np 23-400</small>
        </div>
        <div class="form-group">
            <label for="{{ form.phone_number.id_for_label }}">Numer telefonu:</label>
            <p class="text-danger"><small id="err_phone_number"></small></p>
            {{ form.phone_number }}
        </div>
    </div>
    <div class="pl-5 pr-6" style="width: 50%">
        <h3 class="pt-2">Sposób dostawy:</h3>
        <br>
        {% for dm in form.delivery_method %}
            {{ dm }}
        {% endfor %}
        <br>
        <br>
        <h3>Sposób płatności:</h3>
        <br>
        {% for pm in form.payment_method %}
            {{ pm }}<br>
        {% endfor %}
        <br>
        <h3>Do zapłaty: <span id="sum">{{ price_one }}</span></h3>
        <hr>
        <button type="submit" class="btn btn-primary" id="">Realizuj zamówienie</button>
    </div>
</form>
{% endblock content %}
{% block script %}<script src="{% static 'js/finalizeorderscript.js' %}"></script>{% endblock script %}
