<div class="col-2 border-right">
    <div class="" style="height: 80%;">
        <ul id="menu" class="text-primary sticky-top pl-1" style="list-style-type: none;">
            <li class=""><a class="text-decoration-none text-reset" href="#"><h4><i class="fas fa-book"></i> Ksiązki</h4></a></li>
            <ul class="small pl-4" style="list-style-type:none;line-height: 1.8; font-size: 13px; display: none;">
                <li class="d-flex"><a class="mr-auto" href="">Albumy</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Audiobooki</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Biografie</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Ebooki</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Encyklopedie, słowniki</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Fantastyka</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Filozofia</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Historia</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Horror</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Kryminał</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Literatura obcojęzyczna</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Proza</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Podręczniki</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Poradniki</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
            </ul>
            <li class="mt-2"><a class="text-decoration-none text-reset " href="#"><h4><i class="fas fa-smile-beam"></i>Różne</h4></a></li>
            <ul class="small pl-4" style="list-style-type:none;line-height: 1.8; font-size: 14px; display: none;">
                <li class="d-flex"><a class="mr-auto" href="">Gry planszowe</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Zabawki</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Zakładki</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
            </ul>
            <li class="mt-2"><a class="text-decoration-none text-reset" href="#"><h4><i class="fas fa-compact-disc"></i>Muzyka</h4></a></li>
            <ul class="small pl-4" style="list-style-type:none;line-height: 1.8; font-size: 14px; display: none;">
                <li class="d-flex"><a class="mr-auto" href="">Klasyczna</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Metal</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">rap & hip-hop</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">rock</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">elektroniczna</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">jazz</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">regge</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
            </ul>
            <li class="mt-2"><a class="text-decoration-none text-reset" href="#"><h4><i class="fas fa-film"></i>Filmy</h4></a></li>
            <ul class="small pl-4" style="list-style-type:none;line-height: 1.8; font-size: 14px; display: none;">
                <li class="d-flex"><a class="mr-auto" href="">Animacja </a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Anime </a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Dokumentalne </a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Fantasy </a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Historyczne </a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Horrory </a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Komedie </a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Kryminały </a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Przygodowe </a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Science-fiction </a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Sensacyjne </a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Seriale </a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
            </ul>
            <li class="mt-2"><a class="text-decoration-none text-reset" href="#"><h4><i class="fas fa-gamepad"></i>Gry</h4></a></li>
            <ul class="small pl-4" style="list-style-type:none;line-height: 1.8; font-size: 14px; display: none;">
                <li class="d-flex"><a class="mr-auto" href="">PC</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Xbox</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Playstation</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
                <li class="d-flex"><a class="mr-auto" href="">Nintendo</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </li>
            </ul>
            <br>
            <li class="mt-2"><a class="" href="#"><h3></i>Filtruj</h3></a></li>
        </ul>
    </div>
</div>
