{% extends '_base.html' %}

{% load static %}

{% load tag_library %}

{% block title %} Home Page {% endblock title %}

{% block content %}
            {% return_data_two user user_additional_data new best prom as data %}
            {{ data|json_script:"data_id" }}

            <div class="row">
                <div class="col" style="">
                    <h1 class="text-muted mt-2">Nowość</h1>
                    <hr>
                    <h5 class="float-right"><a href="{% url 'new_books' %}">Więcej</a></h5>
                </div>
            </div>
            <div class="d-flex flex-row" style="">
            {% for p in new|slice:":4" %}
                <div class="col pt-5" style="height: 150;">
                    <div class="d-flex justify-content-center" style="height: 200px;"><a href="/{{ p.product_type }}/{{ p.link }}"><img class="mr-2" src="{{ p.menu_img }}"></a></div>
                    <p class="text-muted mb-2 ml-4 mt-1" style="font-family: sans-serif Helvetica; font-size: 14px; width: 80%;">
                        <span style="font-size: 14px;">{% display_authors p.authors %},</span><br>
                        <a href="/{{ p.product_type }}/{{ p.link }}">{{ p.title }}</a><br>
                        {% if not p.title|length > 24 %}
                        <br>
                        {% endif %}
                        {% if p.promotional_price != '0.00' %}
                        <del><strong>{{ p.price }} zł</strong></del>&nbsp;
                        <strong> {{ p.promotional_price }} zł</strong><br>
                        {% else %}
                        <strong>{{ p.price }} zł</strong><br>
                        {% endif %}
                        {% if p.rate == 0 %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 1 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 2 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 3 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 4 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        {% endif %}
                    </p>
                    <button type="button" class="buy btn btn-success ml-4" index="{{ p.index }}">Kup</button>
                </div>
            {% endfor %}
            </div>
            <hr>
            <div class="d-flex flex-row" style="">
            {% for p in new|slice:"4:8" %}
                <div class="col pt-5" style="height: 150;">
                    <div class="d-flex justify-content-center" style="height: 200px;"><a href="/{{ p.product_type }}/{{ p.link }}"><img class="mr-2" src="{{ p.menu_img }}"></a></div>
                    <p class="text-muted mb-2 ml-4 mt-1" style="font-family: sans-serif Helvetica; font-size: 14px; width: 80%;">
                        <span style="font-size: 13px;">{% display_authors p.authors %},</span><br>
                        <a href="/{{ b.product_type }}/{{ b.link }}">{{ p.title }}</a><br>
                        {% if not p.title|length > 24 %}
                        <br>
                        {% endif %}
                        {% if p.promotional_price != '0.00' %}
                        <del><strong>{{ p.price }} zł</strong></del>&nbsp;
                        <strong> {{ p.promotional_price }} zł</strong><br>
                        {% else %}
                        <strong>{{ p.price }} zł</strong><br>
                        {% endif %}
                        {% if p.rate == 0 %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 1 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 2 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 3 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 4 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        {% endif %}
                    </p>
                    <button type="button" class="buy btn btn-success ml-4" index="{{ p.index }}">Kup</button>
                </div>
            {% endfor %}
            </div>
            <div class="d-flex flex-row">
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-muted mt-5">Bestsellery</h1>
                    <hr>
                    <h5 class="float-right"><a href="{% url 'the_best' %}">Więcej</a></h5>
                </div>
            </div>
            <div class="d-flex flex-row" style="">
            {% for p in best|slice:":4" %}
                <div class="col pt-5" style="height: 150;">
                    <div class="d-flex justify-content-center" style="height: 200px;"><a href="/{{ p.product_type }}/{{ p.link }}"><img class="mr-2" src="{{ p.menu_img }}"></a></div>
                    <p class="text-muted mb-2 ml-4 mt-1" style="font-family: sans-serif Helvetica; font-size: 14px; width: 80%;">
                        <span style="font-size: 13px;">{% display_authors p.authors %},</span><br>
                        <a href="/{{ p.product_type }}/{{ p.link }}">{{ p.title }}</a><br>
                        {% if not p.title|length > 24 %}
                        <br>
                        {% endif %}
                        {% if p.promotional_price != '0.00' %}
                        <del><strong>{{ p.price }} zł</strong></del>&nbsp;
                        <strong> {{ p.promotional_price }} zł</strong><br>
                        {% else %}
                        <strong>{{ p.price }} zł</strong><br>
                        {% endif %}
                        {% if p.rate == 0 %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 1 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 2 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 3 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 4 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        {% endif %}
                    </p>
                    <button type="button" class="buy btn btn-success ml-4" index="{{ p.index }}">Kup</button>
                </div>
            {% endfor %}
            </div>
            <hr>
            <div class="d-flex flex-row" style="">
            {% for p in best|slice:"4:8" %}
                <div class="col pt-5" style="height: 150;">
                    <div class="d-flex justify-content-center" style="height: 200px;"><a href="/{{ p.product_type }}/{{ p.link }}"><img class="mr-2" src="{{ p.menu_img }}"></a></div>
                    <p class="text-muted mb-2 ml-4 mt-1" style="font-family: sans-serif Helvetica; font-size: 14px; width: 80%;">
                        <span style="font-size: 13px;">{% display_authors p.authors %},</span><br>
                        <a href="/{{ p.product_type }}/{{ p.link }}">{{ p.title }}</a><br>
                        {% if not p.title|length > 24 %}
                        <br>
                        {% endif %}
                        {% if p.promotional_price != '0.00' %}
                        <del><strong>{{ p.price }} zł</strong></del>&nbsp;
                        <strong> {{ p.promotional_price }} zł</strong><br>
                        {% else %}
                        <strong>{{ p.price }} zł</strong><br>
                        {% endif %}
                        {% if p.rate == 0 %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 1 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 2 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 3 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 4 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        {% endif %}
                    </p>
                    <button type="button" class="buy btn btn-success ml-4" index="{{ p.index }}">Kup</button>
                </div>
            {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="text-muted mt-5">Promocje</h1>
                    <h5 class="float-right"><a href="{% url 'prom' %}">Więcej</a></h5>
                    <hr>
                </div>
            </div>
            <div class="d-flex flex-row" style="">
            {% for p in prom|slice:":4" %}
                <div class="col pt-5" style="height: 150;">
                    <div class="d-flex justify-content-center" style="height: 200px;"><a href="/{{ p.product_type }}/{{ p.link }}"><img class="mr-2" src="{{ p.menu_img }}"></a></div>
                    <p class="text-muted mb-2 ml-4 mt-1" style="font-family: sans-serif Helvetica; font-size: 14px; width: 80%;">
                        <span style="font-size: 14px;">{% display_authors p.authors %},</span><br>
                        <a href="/{{ p.product_type }}/{{ p.link }}">{{ p.title }}</a><br>
                        {% if not p.title|length > 24 %}
                        <br>
                        {% endif %}
                        {% if p.promotional_price != '0.00' %}
                        <del><strong>{{ p.price }} zł</strong></del>&nbsp;
                        <strong> {{ p.promotional_price }} zł</strong><br>
                        {% else %}
                        <strong>{{ p.price }} zł</strong><br>
                        {% endif %}
                        {% if p.rate == 0 %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 1 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 2 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 3 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 4 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        {% endif %}
                    </p>
                    <button type="button" class="buy btn btn-success ml-4" index="{{ p.index }}">Kup</button>
                </div>
            {% endfor %}
            </div>
            <div class="d-flex flex-row" style="">
            {% for p in prom|slice:"4:8" %}
                <div class="col pt-5" style="height: 150;">
                    <div class="d-flex justify-content-center" style="height: 200px;"><a href="/{{ p.product_type }}/{{ p.link }}"><img class="mr-2" src="{{ p.menu_img }}"></a></div>
                    <p class="text-muted mb-2 ml-4 mt-1" style="font-family: sans-serif Helvetica; font-size: 14px; width: 80%;">
                        <span style="font-size: 14px;">{% display_authors p.authors %},</span><br>
                        <a href="/{{ p.product_type }}/{{ p.link }}">{{ p.title }}</a><br>
                        {% if not p.title|length > 24 %}
                        <br>
                        {% endif %}
                        {% if p.promotional_price != '0.00' %}
                        <del><strong>{{ p.price }} zł</strong></del>&nbsp;
                        <strong> {{ p.promotional_price }} zł</strong><br>
                        {% else %}
                        <strong>{{ p.price }} zł</strong><br>
                        {% endif %}
                        {% if p.rate == 0 %}
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 1 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 2 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 3 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 4 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        {% elif p.rate == 5 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        {% endif %}
                    </p>
                    <button type="button" class="buy btn btn-success ml-4" index="{{ p.index }}">Kup</button>
                </div>
            {% endfor %}
            </div>
{% endblock content %}