<div class="col-2 border-right">
    <div class="" style="height: 80%;">
        <ul id="menu" class="text-primary sticky-top pl-1" style="list-style-type: none;">
            <li class="category"><a class="text-decoration-none text-reset" href="#"><h4><i class="fas fa-book"></i> Ksiązki</h4></a></li>
            <ul class="small pl-4" style="list-style-type:none;line-height: 1.8; font-size: 13px; display: none;">
                {% for category in book_categories %}
                <li class="d-flex"><a class="mr-auto" href="category/books/{{ category }}">{{ category }}</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="1_{{ category }}">
                    </div>
                </li>
                {% endfor %}
            </ul>
            <li class="category mt-2"><a class="text-decoration-none text-reset " href="#"><h4><i class="fas fa-smile-beam"></i>Różne</h4></a></li>
            <ul class="small pl-4" style="list-style-type:none;line-height: 1.8; font-size: 14px; display: none;">
                {% for category in others_categories %}
                <li class="d-flex"><a class="mr-auto" href="">{{ category }}</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="2_{{ category }}">
                    </div>
                </li>
                {% endfor %}
            </ul>
            <li class="category mt-2"><a class="category text-decoration-none text-reset" href="#"><h4><i class="fas fa-compact-disc"></i>Muzyka</h4></a></li>
            <ul class="small pl-4" style="list-style-type:none;line-height: 1.8; font-size: 14px; display: none;">
                {% for category in music_categories %}
                <li class="d-flex"><a class="mr-auto" href="">{{ category }}</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="3_{{ category }}">
                    </div>
                </li>
                {% endfor %}
            </ul>
            <li class="category mt-2"><a class="category text-decoration-none text-reset" href="#"><h4><i class="fas fa-film"></i>Filmy</h4></a></li>
            <ul class="small pl-4" style="list-style-type:none;line-height: 1.8; font-size: 14px; display: none;">
                {% for category in movies_categories %}
                <li class="d-flex"><a class="mr-auto" href="">{{ category }}</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="4_{{ category }}">
                    </div>
                </li>
                {% endfor %}
            </ul>
            <li class="category mt-2"><a class="category text-decoration-none text-reset" href="#"><h4><i class="fas fa-gamepad"></i>Gry</h4></a></li>
            <ul class="small pl-4" style="list-style-type:none;line-height: 1.8; font-size: 14px; display: none;">
                {% for category in games_categories %}
                <li class="d-flex"><a class="mr-auto" href="">{{ category }}</a>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="5_{{ category }}">
                    </div>
                </li>
                {% endfor %}
            </ul>
            <br>
            <li class="mt-2"><a class="" href="#"><h3></i>Filtruj</h3></a></li>
        </ul>
    </div>
</div>
